{% extends 'base.html' %} {% block content %}
<div class="container mt-5">
  <div class="row mt-5">
    <div class="col-md-12 mb-4 mt-5">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Your cart</span>
        <span class="badge badge-secondary badge-pill"
          >{{ cartItems.count }}</span
        >
      </h4>
      {% for cartItem in cartItems %}
      <ul class="list-group mb-3 z-depth-1">
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <small class="text-muted">
              <img
                src="{{ cartItem.catalogue.image.url }}"
                class="img-fluid"
                alt=""
                width="50"
                height="50"
              />
            </small>            
            <small class="text-muted">{{cartItem.catalogue.name}}</small>            
          </div>
          <span class="text-muted">Ksh {{cartItem.catalogue.price}}</span>
          <small class="text-muted">{{cartItem.quantity}} Item(s)</small>
          <a
            href="/removeFromCart/{{cartItem.id}}"
            class="btn btn-danger btn-md my-0 p btn-small"
          >
            Remove from cart
          </a>
        </li>
      </ul>
      {% endfor %}

      <div>
        Total Price: {{amountDue}}
      </div>

      <a href="/">
        <button class="btn btn-outline-primary">CONTINUE SHOPPING</button>
      </a>

      {% if cartItems.count > 0 %}
      <a>
        <button class="btn btn-outline-success">CHECKOUT</button>
      </a>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
